<!DOCTYPE html>
<html xmlns:th="http://thymeleafe.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lojas Cadastradas</title>
</head>

<body>

	<h6>Lojas Cadastradas</h6>

	<div class="row">
		<div class="col s8 m3">
			<div class="card">
				<div class="card-image">
					<img th:src="${mostrar.verFotos[0]}"> <span class="card-title"></span>
				</div>
				<div class="card-content">
					<p th:text="${mostrar.tipoLoja?.nome}"></p>
					<p th:text="${mostrar.nome}"></p>
					<p th:text="${mostrar.descricao}"></p>
					<p th:text="${mostrar.cep}"></p>
					<p th:text="${mostrar.endereco}"></p>
				</div>
				<div class="card-action">
				<a>	Voltar A Lista</a>
				</div>
			</div>
		</div>
	</div>

</body>

</html>